body{
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

.wrapper{
    /* border: 1px solid #000; */
    height: auto;
    width: 100%;
    margin: 0 auto  ;
    background-color:#f4f4ee;
}

.header{
    /* border: 1px solid #000; */
    height: 100px;
    width: 100%;
    /* background-image: url(../images/10.jpg); */
    background-color: #0A5C36;
    background-repeat: no-repeat;
    background-size: 100% 180px;
}

.header p{
    margin-top: -62px ;
    margin-left: 25%;
    color: white;
}

.header img{
    margin-top: -10px;
    margin-left: 12%;
    width: 7%;
}

.menu{
    /* border: 1px solid #000; */
    height: 60px;
    width: 100%;
    /* background: rgb(233, 193, 193); */
    padding: 39px 0 0 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

.main{
    /* border: 1px solid #000; */
    height: auto;
    width: 100%;
}

.main img{
    width: 100%;
    height: 550px;
    position: relative;
    display: inline-block; 
}

.main p h4{
    color: #0b2c02;
}

.vanbanhome {
    width: 31%;
    height: auto;
    color: #0b2c02;
    position: absolute;
    top: 50%; /* Đặt văn bản ở giữa theo chiều dọc */
    left: 50%; /* Đặt văn bản ở giữa theo chiều ngang */
    transform: translate(-135%, -25%); /* Điều chỉnh vị trí để đặt văn bản ở trung tâm */
    background-color: rgba(255, 255, 255, 0.738); /* Tạo nền mờ để văn bản dễ đọc */
    padding: 20px;
    text-align: justify;
    font-size: 22px;
}


.menu > ul{
    padding: 0;
    list-style: none;
    margin: -38px auto;
    width: 50%;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu ul li a:hover {
    background-color: #137544d0;
    color: white;
}

.menu > ul li {
    float: left;
    /* margin: 1px; */
    padding: 14px;
    border: 1px;
    /* margin-top: 7px; */

}

.menu ul li a {
    text-decoration: none;
    /* text-align: center; */
    color: rgb(8, 0, 0);
    font-size: 20px;
}

.dropdown{
    width: 5%;
    margin-top: -46px;
    margin-left: 730px;
}

.menu ul li a:hover{
    color: #f4f4ee;
    background-color: #0A5C36;
}

.dropdown:hover > .dropdown-menu{
    display: block;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar{
    /* border: 1px solid #000; */
    height: auto;
    width: 70%;
    margin-top: 100px;
    margin-left:17%;
    float: left;
    border-radius: 5px;
}


.tag{
    width: 10%;
    height: 40px;
    color: #0b2c02;
    position: absolute;
    background-color: #0A5C36; /* Tạo nền mờ để văn bản dễ đọc */
    padding-top: 7px;
    text-align: justify;
    text-align: center;
    font-size: 18px;
    margin-top: -65px;
    margin-left: 40px;
    color: white;
}

/* .listsidebar li div p{
    width: auto;
    height: 50px;
    color: #0b2c02;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.738);
    padding: 10px;
    font-size: 22px;
} */


ul.listsidebar {
    padding: 0;
    margin-top: 40px;
    list-style: none;
    width: 100%;
    
}

/* ul.listsidebar li:hover {
    background: #749F82;
} */

/* ul.listsidebar li {
    margin: 1px;
    padding: 5px;
    padding-left: 15px;
    float: right;
    border: 1px;
} */

ul.listsidebar li a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.sidebar li{
    width: 22%;
    background-color: white;
    border: 0.5px solid #0A5C36;
    /* padding: 5px; */
    float: left;
    margin: 5px;
    height: auto;
}

.sidebar li img{
    width: 100%;
    height: 270px;
    /* padding: 10px; */
}

/* .sidebar li div a{
    font-size: 20px;
    margin-left: 20%;
} */

.maincontent{
    /* border: 1px solid #000; */
    height: auto;
    width: 100%;
    margin-top: 100px;
    float: right;
    
    /* background-color: #f3f8ef; */
}

.sanpham{
    padding-left: 20px;
    padding-top: 40px;
    list-style: none;
    width: 100%;
    
}

.sanpham li{
    width: 19%;
    background-color: white;
    float: left;
    margin: 5px;
    height: 380px;
}

.sanpham li img{
    width: 100%;
    height: 280px;
}

.sanpham li p {
    padding-left: 15px;
    padding-top: 15px;
}

.sanpham li b{
    color: #0A5C36;
    padding-top: 90px;
    padding-left: 15px;
}

.clear{
    clear: both;
    
}

.kcach{
    height: 100px;
}

.footer{
    height: auto;
    width: 100%;
    background: #0A5C36;
    /* margin-top: 50px; */
    float: left; 
    font-size: 20px;
}

.listfooter li{
    padding-top: 50px;
    margin-left: 80px;
    background: #0A5C36;
    float: left;
    list-style: none;
    width: 25%;
    height: auto;
    color: white;
    text-align: justify;

}

.listfooter li img{
    width: 45%;
    height: auto;
}

/* .danhmuc{
    margin: 10px 20% auto 25%;
    color: #145203;
    font-size: 20px;
    width: 246px;
    background-color: #bbebae;
    list-style: none;
    float: left;
    padding-left: 10px;
} */


.timkiem{
    position: absolute;
    top: 25px;
    right: 350px;
    border-radius: 20px;
    padding: 8px;
    border: 1px;
    width: 300px;
    padding-left: 15px;
}


.dangky{
    width: 100px;
    height: 40px;
    background-color: #0A5C36;
    border-radius: 20px;
    border: 1px solid #0A5C36 ;
    position: absolute;
    top: 25px;
    right: 120px;
    color: aliceblue;
}

.dangnhap{
    width: 100px;
    height: 40px;
    background-color: #0A5C36;
    border-radius: 20px;
    border: 1px solid #0A5C36 ;
    position: absolute;
    top: 25px;
    right: 20px;
    color: aliceblue; 
}

.giohang{
    margin-top: -80px;
    margin-left:  1280px;
}

.tieudesp{
    color:#0A5C36;
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 30px;
}

.wallcommon{
    width: 100%;
    height: auto;
}

.wallcommon div img{
    position: relative;
    display: inline-block; /* Để phần tử chứa hình ảnh chỉ chiếm chiều rộng cần thiết */
    width: 100%;
    height: 550px;
}

.wallcommon div h1 {
    position: absolute;
    top: 50%; /* Đặt văn bản ở giữa theo chiều dọc */
    left: 50%; /* Đặt văn bản ở giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Điều chỉnh vị trí để đặt văn bản ở trung tâm */
    background-color: rgba(255, 255, 255, 0.74); /* Tạo nền mờ để văn bản dễ đọc */
    padding: 10px; /* Tùy chỉnh khoảng cách văn bản và viền */
    color:#0A5C36;
}

.contentlienhe{
    width: 100%;
}

.contentlienhe div{
    float: left;
}

.thongtinlienhe{
    width: 32%;
    height: auto;
    background-color: white;
    margin-top: 50px;
    margin-left: 5%;
    padding: 30px;
    font-size: 22px;
}

.thongtinlienhe h4{
    margin-top: 37px;
    color: #0A5C36;
    text-align: center;

}

.thongtinlienhe hr{
    width: 75px;/* Chiều rộng của đường gạch ngang */
    border: 5px solid #0A5C36; /* Định dạng viền đường gạch */
    border-radius: 10px;
    margin: 0 auto;

}



.thongtinlienhe ul li{
    margin-top: 30px;
    color: #0A5C36;
}

.formlienhe{
    width: 54%;
    height: auto;
    background-color: white;
    margin-top: 50px;
    margin-left: 5%;
    padding: 50px;

}

.formlienhe h4{
    margin-top: 20px;
    color: #0A5C36;
    text-align: center;
}

.formlienhe form input {
    margin-bottom: 25px;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

.formlienhe form textarea{
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    width: 100%;
    
}

.inputGui{
    background-color: #0A5C36;
    color: white;
    border-radius: 15px;
    width: 20%;
    height: auto;
}

.formlienhe hr{
    width: 75px;/* Chiều rộng của đường gạch ngang */
    border: 5px solid #0A5C36; /* Định dạng viền đường gạch */
    border-radius: 10px;
    margin: 0 auto;
}

.cangiua {
    display: flex;
    justify-content: center;
}

.maingioithieu{
    margin-top: 100px;
    margin-left: 10%;
}

.maingioithieu ul{
    float: left;
    
}

.maingioithieu ul li{
    list-style: none;
    width: 40%;
    float: left;
    text-align: justify;
   font-size: 20px;
   margin-left: 30px;
}

.maingioithieu ul li img{
    height: 600px;
}

.danhngon{
    width: 26%;
    height: auto;
    color: #0b2c02;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(55%, 455%); /* Điều chỉnh vị trí để đặt văn bản ở trung tâm */
    background-color: rgba(255, 255, 255, 0.847); /* Tạo nền mờ để văn bản dễ đọc */
    padding: 20px;
    text-align: justify;
    font-size: 22px;
    color: #0A5C36;
}


.tuongdanhmuc img{
    height: 400px;
    width: 100%;
}

.tagdanhmuccay{
    width: 50%;
    height: auto;
    color: #0b2c02;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Điều chỉnh vị trí để đặt văn bản ở trung tâm */
    /* background-color: rgba(255, 255, 255, 0.685); */
    padding: 20px;
    text-align: justify;
    font-size: 22px;
    /* color: #0A5C36; */
    color: white;
    
    
}
.tagdanhmuccay h2{
    text-align: center;
}

.dangkyform{
    width: 850px;
    height: 550px;
    background-color: #f4f4ee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}


.dangkyform img{
    width: 50%;
    height: 550px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dkform{
    margin-top: 70px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -75%)
}

.dkform form{
    margin-top: 50px;
}

.dkform div{
    margin-top: 20px;
    border-radius: 10px;
}

.br{
    border-radius: 20px;
    height: 40px;
    padding-left: 10px;
    width: 250px;
    border: 1.5px solid #114232;
}

.tbn{
    margin-top: 15px;
    margin-left: 160px;
    background-color: #114232;
    color: white;
    border-radius: 15px;
    width: 20%;
    height: auto;
    width: 110px;
    border: 1.5px solid #114232;
}

.dangkyform  a{
    color: #114232;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(310%, 850%);
}

.td{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-115%, -175%);
    background-color: rgba(255, 255, 255, 0.594);
    padding: 5px;
    border-radius: 5px;
}

.dnn{
    color: #114232;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-195%, -150%);
    width: 320px;
}

.dkn{
    color: #114232;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-195%, -150%);
    width: 350px;
}

